*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1494e4;
}

button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: #2A2D35;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #6e717a;
}

button:active{
    background-color: #cfe2ee;
}

.operator{
    background-color: orange;
}

.operator:hover{
    background-color: #ffcc66;
}

.AC{
    background-color: rgb(80, 80, 166);
}

.AC:hover {
    background-color: rgb(120, 120, 200);
}

.equal{
    background-color: #1A73E8;
}

.equal:hover {
    background-color: #5AA9F5;
}

#mainbody{
    background-color: rgba(150, 132, 132, 0.809);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    height: 780px;
    gap: 20px;
}

#display{
    height: 120px;
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: #333742;
    box-sizing: border-box;
    color: white;
    font-size: 5rem;
    text-align: right;
    padding: 20px;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    border-radius: 20px;
    background-color: #333742;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    place-items: center;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#calculator{
    font-family: Arial,sans-serif;
    background-color: black;
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
}

.heading{
    font-size: 30px;
}

#display::placeholder{
    color: rgba(255,255,255,1);
    opacity: 1;
}